{% extends 'base.html.twig' %}

{% block body_id 'cart' %}
{% block page_header 'main.shoppingCart'|trans %}

{% block body %}
    <div class="col-md-8 col-md-offset-2">
        <div class="callout callout-success">
            <h4>{{ 'main.orderSummary'|trans }}</h4>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <p class="pull-left text-bold">{{ 'main.itemCount'|trans }}:</p>
                    <p class="pull-right">{{ cart.count }}</p>
                </div>
                <div class="col-md-12">
                    <p class="pull-left text-bold">{{ 'main.totalPrice'|trans }}:</p>
                    <p class="pull-right">{{ cart.totalPrice|number_format(2, '.')  }} EUR</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <hr />
        <a class="btn btn-block btn-success" href="{{ path('orders_place') }}"><i class="fa fa-credit-card"></i> {{ 'main.buy'|trans }}</a>
    </div>
{% endblock %}