{% extends 'base.html.twig' %}

{% block body_id 'cart' %}
{% block page_header 'main.shoppingCart'|trans %}

{% block body %}
    <div class="col-md-8 col-md-offset-2">
        <div class="callout callout-success">
            <h4>{{ 'main.thanks'|trans }}</h4>
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <a class="btn btn-block btn-primary" href="{{ path('homepage') }}"><i class="fa fa-home"></i> {{ 'main.toHomepage'|trans }}</a>
    </div>
{% endblock %}