{% extends 'base.html.twig' %}

{% block body_id 'myOrders' %}
{% block page_header 'main.orders'|trans %}

{% block body %}
    <div class="box">
        <div class="box-body">
          <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>{{ 'tables.orders.id'|trans }}</th>
                    <th>{{ 'tables.orders.date'|trans }}</th>
                    <th>{{ 'tables.orders.total'|trans }}</th>
                    <th>{{ 'tables.orders.products'|trans }}</th>
                    <th>{{ 'tables.orders.buyer'|trans }}</th>
                </tr>
                {% for order in orders %}
                    <tr>
                        <td>#{{ order.id }}</td>
                        <td>{{ order.date|date('Y-m-d H:i:s') }}</td>
                        <td>{{ order.total }} EUR</td>
                        <td>
                            {% for product in order.products %}
                                {{ product.title ~ ' - ' ~ product.price }} EUR
                                {% if not loop.last %}
                                    <br />
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ order.buyer.username }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">{{ 'tables.orders.noOrders'|trans }}</td>
                    </tr>
                {% endfor %}
          </table>
        </div>
    </div>
{% endblock %}