{% extends 'base.html.twig' %}

{% block body_id 'cart' %}
{% block page_header 'main.shoppingCart'|trans %}

{% block body %}
    <div class="col-md-12">
        {% for product in products %}
            <div class="col-md-8 col-md-offset-2">
                <div class="panel box box-success">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" class="collapsed pull-left" aria-expanded="false">
                          {{ product.title }}  
                      </a>
                    </h4>
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" class="collapsed pull-right" aria-expanded="false">
                          {{ product.price|number_format(2, '.') }} EUR
                      </a>
                  </div>
                  <div id="collapse{{ loop.index }}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="box-body">
                      <div class="col-md-3">
                    <img class="img-rounded" src="{{ asset('uploads/' ~ product.picture) | imagine_filter('my_thumb') }}" />
                    </div>
                    <div class="col-md-9">
                        <dl class="dl-horizontal">
                            <dt>{{ 'main.title'|trans }}:</dt><dd><a href="{{ path('product_view', {id: product.id}) }}">{{ product.title }}</a></dd>
                            <dt>{{ 'main.price'|trans }}:</dt><dd>{{ product.price|number_format(2, '.') }} EUR</dd>
                            <dt>{{ 'main.description'|trans }}:</dt><dd>{{ product.description }}</dd>
                        </dl>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
        {% else %}
            <h2><i class="fa fa-frown-o"></i> {{ 'texts.cartEmpty'|trans }}</h2>
        {% endfor %}
    </div>
        {% if products is not empty %}
            <div class="col-md-8 col-md-offset-2">
                <div class="callout callout-success">
                    <h4>{{ 'main.orderSummary'|trans }}</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <p class="pull-left text-bold">{{ 'main.itemCount'|trans }}:</p>
                            <p class="pull-right">{{ cart.count }}</p>
                        </div>
                        <div class="col-md-12">
                            <p class="pull-left text-bold">{{ 'main.totalPrice'|trans }}:</p>
                            <p class="pull-right">{{ cart.totalPrice|number_format(2, '.')  }} EUR</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <hr />
                <a class="btn btn-block btn-success" href="{{ path('checkout') }}"><i class="fa fa-credit-card"></i> {{ 'main.proceedToCheckout'|trans }}</a>
            </div>
        {% endif %}
{% endblock %}