{% extends 'base.html.twig' %}

{% block body_id 'product_category' %}
{% block page_header currentCategory %}

{% block body %}
    <div class="col-md-12">
        {% include 'includes/products.html.twig' with {'products': products} %}
    </div>
{% endblock %}