{% extends 'base.html.twig' %}

{% block box_header %}
<form class="form-inline" action="{{ path('homepage') }}" method="GET">
    <div class="input-group col-md-5">
        <select class="form-control" id="filterOrder" name="orderBy">
            <option value="">{{ 'main.orderBy'|trans }}</option>
            <option value="latest">{{ 'main.filters.latest'|trans }}</option>
            <option value="priceMin">{{ 'main.filters.priceMin'|trans }}</option>
            <option value="priceMax">{{ 'main.filters.priceMax'|trans }}</option>
        </select>
        <div class="input-group-btn">
            <button type="submit" class="btn btn-success"><i class="fa fa-filter"></i> {{ 'main.filter'|trans }}</button>
        </div>
    </div>
    <div class="input-group col-md-5">
        <select class="form-control" id="filterCategories" name="category">
            <option value="">{{ 'main.category'|trans }}</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <div class="input-group-btn">
            <button type="submit" class="btn btn-success"><i class="fa fa-filter"></i> {{ 'main.filter'|trans }}</button>
        </div>
    </div>
</form>
{% endblock %}

{% block body %}
    <div class="col-md-12">        
        {% include 'includes/products.html.twig' with {'products': products} %}
    </div>
{% endblock %}