<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="referrer" content="no-referrer" />
        <title>{% block title %}{{ brand }}{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/AdminLTE.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/skin-green.min.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="{% block body_id %}{% endblock %}" class="hold-transition skin-green layout-top-nav">
        <div class="wrapper">
            <header class="main-header">
                <nav class="navbar navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('homepage') }}">
                                <i class="fa fa-bullseye" aria-hidden="true"></i> 
                                {{ brand }}
                            </a>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <li class="user user-menu">
                                    <a href="{{ path('cart') }}">
                                        <i class="fa fa-shopping-cart"></i> <span id="topCart">
                                        {% if app.request.cookies.has(cartTotalCookie) %}
                                            {{ app.request.cookies.get(cartTotalCookie)|number_format(2, '.') }}
                                        {% else %}
                                        0.00
                                        {% endif %}
                                        </span> EUR
                                    </a>
                                </li>
                                {% if app.user %}
                                    <li class="dropdown user user-menu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fa fa-child"></i> {{ app.user.username }}
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{ path('user_profile') }}" class="btn btn-default btn-flat">{{ 'main.profile'|trans }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('user_products') }}" class="btn btn-default btn-flat">{{ 'main.myProducts'|trans }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('orders_my') }}" class="btn btn-default btn-flat">{{ 'main.orders'|trans }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('security_logout') }}" class="btn btn-default btn-flat">{{ 'main.logout'|trans }}</a>
                                            </li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="user user-menu">
                                        <a href="{{ path('security_login') }}"><i class="fa fa-sign-in"></i> {{ 'main.login'|trans }}</a>
                                    </li>
                                    <li class="user user-menu">
                                        <a href="{{ path('security_register') }}"><i class="fa fa-user"></i> {{ 'main.register'|trans }}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="content-wrapper">
                <div class="container">
                    <!-- Main content -->
                    <section class="content">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                {% block box_header %}
                                <h3 class="box-title">{% block page_header %}{% endblock %}</h3>
                                {% endblock %}
                            </div>
                            <div class="box-body">
                                {% block body %}
                                    <div class="row">
                                        <div id="main" class="col-sm-9">
                                            {{ include('default/_flash_messages.html.twig') }}
                                        {% block main %}{% endblock %}
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <footer class="main-footer">
            <div class="container">
                <div class="pull-right hidden-xs">For SEO Helis</div>
                <p>&copy; {{ 'now'|date('Y') }} - <strong>Andrius Predeinas</strong> | Task 3 - Simple eShop</p>
            </div>
        </footer>
    </div>

    {% block javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/app.min.js') }}"></script>
        <script>
            $( document ).ready(function() {
                $('.product-for-sale').on('click', function(){
                    var productId = $(this).data('product-id');
                    addToCart(productId);
                });
            });
            
            function addToCart(productId) {
                $.ajax({
                    url: "{{ path('add_to_cart') }}",
                    type: "POST",
                    data: { "id" : productId },
                    success: function(data) {
                       $('#topCart').html(data.cartTotal.toFixed(2));
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown)
                    {
                      console.log('Error: ' +  errorThrown);
                    }
                 });
            }
        </script>
    {% endblock %}
</body>
</html>
