{% extends 'base.html.twig' %}

{% block body_id 'addProduct' %}

{% block main %}
    <div class="row">
        <div class="col-sm-5">
            <div class="well">
                {{ form_start(form) }}
                    {{ form_row(form.category) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.picture) }}
                    {{ form_row(form.price) }}
                    {{ form_row(form.stock) }}
                    {{ form_row(form.description) }}
                    {{ form_errors(form) }}

                <button class="btn btn-success btn-block" type="submit">{{ 'forms.product.save'|trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}