{% extends 'base.html.twig' %}

{% block body_id 'product_view' %}
    {% block page_header product.title %}

{% block body %}
    <div class="row">
        <div class="col-md-6 text-center">
            {% if product.picture is not empty %}
                <img class="img-rounded" src="{{ asset('uploads/' ~ product.picture) | imagine_filter('main_image') }}" />
            {% endif %}
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>{{ 'main.title'|trans }}:</dt><dd>{{ product.title }}</dd>
                <dt>{{ 'main.soldInCategory'|trans }}:</dt><dd><a href="{{ path('product_category', {id: product.category.id}) }}">{{ product.category.name }}</a></dd>
                <dt>{{ 'main.price'|trans }}:</dt><dd>{{ product.price|number_format(2, '.') }} EUR</dd>
                <dt>{{ 'main.description'|trans }}:</dt><dd>{{ product.description }}</dd>
                <dt>{{ 'main.soldBy'|trans }}:</dt><dd>{{ product.user.username }}</dd>
            </dl>
            <div class="col-md-8 col-md-offset-2">
                {% if app.user.id is defined and app.user.id == product.user.id %}
                    <p class="text-danger">{{ 'texts.soldByYou'|trans }}</p>
                {% else %}
                    <a href="#" class="btn btn-primary product-for-sale btn-block" data-product-id="{{ product.id }}">
                        <i class="fa fa-cart-arrow-down"></i> {{ 'main.addToCart'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <hr />
{% endblock %}