{% extends 'base.html.twig' %}

{% block body_id 'myProducts' %}

{% block body %}
    <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">{{ 'main.myProducts'|trans }}</h3>
            </div>
            <div class="box-body">
              <table class="table table-bordered">
                <tbody><tr>
                  <th>{{ 'tables.products.id'|trans }}</th>
                    <th>{{ 'tables.products.picture'|trans }}</th>
                    <th>{{ 'tables.products.name'|trans }}</th>
                    <th>{{ 'tables.products.price'|trans }}</th>
                    <th>{{ 'tables.products.stock'|trans }}</th>
                    <th>{{ 'tables.products.category'|trans }}</th>
                </tr>
                {% if products is empty %}
                    <tr>
                        <td colspan="6" class="text-center">{{ 'tables.products.noProducts'|trans }}</td>
                    </tr>
                {% else %}
                    {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td><img src="{{ asset('uploads/' ~ product.picture) | imagine_filter('my_thumb') }}" /></td>
                            <td>{{ product.title }}</td>
                            <td>{{ product.price }} EUR</td>
                            <td>{{ product.stock }}</td>
                            <td>{{ product.category.name }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
              </table>
            </div>
            <div class="box-footer clearfix">
                <a class="btn btn-primary" href="{{ path('products_add') }}"><i class="fa fa-plus-square-o"></i> {{ 'tables.products.add'|trans }}</a>
            </div>
    </div>
{% endblock %}