{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block page_header %}{{ 'texts.passwordUpdate'|trans }}{% endblock %}
    
{% block main %}
    {% if error is defined %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-5">
            <div class="well">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.plainPassword.first) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword.second) }}
                </div>
                <button class="btn btn-success" type="submit">{{ 'forms.password.update'|trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}