<div class="col-md-4">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{ product.title }}</h3>
        </div>
        <div class="box-body text-center" style="overflow: hidden;">
            <a href="{{ path('product_view', {id: product.id}) }}">
                <img class="img-rounded" src="{{ asset('uploads/' ~ product.picture) | imagine_filter('main_image') }}" />
            </a>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8">
                        <p class="pull-left">
                            <div class="btn-group">
                                <a href="{{ path('product_view', {id: product.id}) }}" class="btn btn-primary">
                                    <i class="fa fa-folder-open-o"></i> {{ 'main.view'|trans }}
                                </a>
                                {% if app.user.id is defined and app.user.id == product.user.id %}
                                {% else %}
                                    <a class="btn btn-primary product-for-sale" data-product-id="{{ product.id }}">
                                        <i class="fa fa-cart-arrow-down"></i> {{ 'main.addToCart'|trans }}
                                    </a>
                                {% endif %}
                            </div>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="pull-right">{{ product.price|number_format(2, '.') }} EUR</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
