{% if products is empty %}
    <h2>{{ 'texts.noProducts'|trans }}</h2>    
{% else %}
        <div class="row">
            {% for product in products %}
                {% if  loop.index0 % 3 == 0 %}
                    </div>
                    <div class="row">
                {% endif %}
                {% include 'includes/product.html.twig' with {'product': product} %}
            {% endfor %}
        </div>
{% endif %}
