{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block main %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6 col-md-offset-5">
            <div class="register-box-body">
                <p class="login-box-msg"><i class="fa fa-lock" aria-hidden="true"></i> {{ 'main.login'|trans }}</p>

                <form action="{{ path('security_login') }}" method="post">
                    <div class="form-group">
                        <label for="username">{{ 'label.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="" class="form-control"/>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="password">{{ 'label.password'|trans }}</label>
                        <input type="password" id="password" name="_password" class="form-control" />
                    </div>
                    <div class="row">        
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary btn-block btn-flat"><i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'main.login'|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}