{% extends 'base.html.twig' %}

{% block body_id 'register' %}

{% block main %}
    {% if error is defined %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6 col-md-offset-5">
            <div class="register-box-body">
                <p class="login-box-msg">{{ 'forms.register.newRegistration'|trans }}</p>

                {{ form_start(form) }}
                    <div class="form-group has-feedback">
                        {{ form_row(form.username) }}
                    </div>
                    <div class="form-group has-feedback">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="form-group has-feedback">
                        {{ form_row(form.plainPassword.first) }}
                    </div>
                    <div class="form-group has-feedback">
                        {{ form_row(form.plainPassword.second) }}
                    </div>
                    <div class="row">        
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'forms.register.button'|trans }}</button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}